*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin:0;
}
.container{
    display: flex;
    width:80vh;
}
h3{
    font-weight: 900;
    color: rgb(124, 29, 29);
}
.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 700ms ease-in;
}
.panel h3 {
  font-size: 24px;
  bottom: 20px;
  position: absolute;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
