
:root {
  --line-border-fill: #3498db;
  --line-border-empty: #383838;

}
*{
    box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: yellow;
}
.container{
    text-align: center;
}
.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}
.progress-container::before {
  content: '';
    background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}
.progress{
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left:0;
  height: 4px;
  width:0%;
  z-index:-1;
  transform: translateY(-50%);
  transition: 0.4s ease;
}
.circle{
  background-color: #f1f1f1;
  width: 30px;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--line-border-empty);
  border-radius: 50%;
  transition: 0.4s ease;
}
.circle.active{
  border-color: var(--line-border-fill);
}
.btn {
  background-color: slateblue;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 70px 10px 0;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  opacity: 0.9;
}
.btn:active {
  transform: scale(0.97);
}

.btn:disabled {
  background-color: lightgray;
}
